body{
      
  border-left: 150px solid white;
  border-right: 150px solid white;
  border-bottom: 50px solid white;
  border-top: 5px solid white;
  background-repeat: no-repeat;
  background-origin: content-box;
  font-family: 'Times New Roman', Times, serif;
}

 #h1{
  font-family: 'Times New Roman', Times, serif;
  font-size: 23px;
  color: black;
  

}
#h2{
  
  font-family: 'Times New Roman', Times, serif;
  font-size: 23px;
  color: black;
  

}
#h3{
  font-family: 'Times New Roman', Times, serif;
  font-size: 23px;
  color: black;
 

}
#h4{
 
  font-family: 'Times New Roman', Times, serif;
  font-size: 23px;
  color: black;
  

}
#h5{
  
  font-family: 'Times New Roman', Times, serif;
  font-size: 23px;
  color: black;
  

}
#star{
  color: red;
}

input[type="text1"]{
 
    width:40%;
    height:40px;
    border:1px solid black;
    
}

input[type="text2"]{
     width:40%;
    height:40px;
    border:1px solid black;
    
}
input[type="text3"]{
  
    width:40%;
    height:40px;
    border:1px solid black;
    
}
input[type="text4"]{
  
    width:40%;
    height:40px;
    border:1px solid black;
    
}
#myform{
  background-color:lightgray;
  padding:10px;
}
label.error{
  color:red;
}
p{
  font-size: 22px;
}
#text{
  font-size: 15px;
  color: rgb(69, 66, 66);
}

#submitbtn{
  width:57%;
}
.button{
  padding-left: 85%;
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}